.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.controls > label {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.controls > label > * {
  background-color: inherit;
}

.controls > .input > input,
.controls > .select > select,
.controls > .button > button {
  flex: 1;
  outline: none;
  border: 0;
  justify-content: space-between;
}
